<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
    <div class="f-info-developer">
      <p>Made with ❤️ by Lakshya yadav </p>
    </div>
    <div class="f-info-links">
      <a href="#">Privacy</a>
      <a href="/#">Terms</a>
    </div>
  </div>
</footer>

<style>


.f-info-developer , .f-info-links a {
    font-size: 0.85rem;
    color: #555;
    font-weight: 500;
}
</style>